@page "/SignUp"
@using Fenicia.Auth.Domains.Company.Data
@using Fenicia.Auth.Domains.User.Data

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Sign Up</h3>
                </div>
                <div class="card-body">
                    <EditForm Model="@_userRequest" OnValidSubmit="@HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="mb-3">
                            <label for="name" class="form-label">Full Name</label>
                            <InputText id="name" class="form-control" @bind-Value="_userRequest.Name" />
                            <ValidationMessage For="@(() => _userRequest.Name)" />
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Email Address</label>
                            <InputText id="email" class="form-control" type="email" @bind-Value="_userRequest.Email" />
                            <ValidationMessage For="@(() => _userRequest.Email)" />
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <InputText type="password" id="password" class="form-control" @bind-Value="_userRequest.Password" />
                            <ValidationMessage For="@(() => _userRequest.Password)" />
                        </div>

                        <div class="mb-3">
                            <label for="company" class="form-label">Company</label>
                            <InputText id="company" class="form-control" @bind-Value="_userRequest.Company.Name" />
                            <ValidationMessage For="@(() => _userRequest.Company.Name)" />
                        </div>
                        
                        <div class="mb-3">
                            <label for="cnpj" class="form-label">CNPJ</label>
                            <InputText id="cnpj" class="form-control" @bind-Value="_userRequest.Company.Cnpj" />
                            <ValidationMessage For="@(() => _userRequest.Company.Cnpj)" />
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@inject NavigationManager NavigationManager
@inject Fenicia.Web.Providers.Auth.SignUpProvider SignUpProvider

@code {
    private readonly UserRequest _userRequest = new() { Company = new CompanyRequest() };

    private async Task HandleValidSubmit()
    {
        try
        {
            var response = await SignUpProvider.CreateNewUserAsync(_userRequest);

            if (response != null)
            {
                NavigationManager.NavigateTo("/login", true);
            }
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"Error details: {ex}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error details: {ex}");
        }
        finally
        {
            StateHasChanged();
        }
    }
}
